# ip to listen
-l {{memcached_default_ip}}
# port to listen
-p {{memcached_default_port}}
# memory limit
-m {{memcached_default_memory_limit}}
# user to run from (this user is create by server package)
-u memcache
